$blue: #577EC0;
$gray: #E0E0E0;
$yellow: #f7c53b;
$dark-yellow: darken($light-yellow, 15%);
$red: #da473b;
$green: #0f9c56;
$font-color: #656464;
$font-body: 'Lato', sans-serif;
$font-menu: 'Raleway', sans-serif;
